@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        // Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section class="vh-200 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <br />
    <div class="mask d-flex align-items-center">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <section class="card" style="border-radius: 15px;">
                        <section class="card-body p-5">
<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</section>
</section>
</div>
</div>
</div>
</div>
<br />
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
