@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}

@*<h1 class="justify-content-center align-items-center text-primary">@ViewData["Title"]</h1>*@

<div class="row container-fluid h-custom justify-content-center align-items-center">
    <div class="col-md-4">
        <section class="vh-100">

            @*<div class="col-md-9 col-lg-6 col-xl-5">*@
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            @*</div>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">*@

            <form id="account" method="post">

                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3 offset-1">Sign in with</p><br />

                    <button type="button" class="btn btn-light btn-floating mx-2">
                    @*<i class="fab fa-facebook-f"></i>*@
                    <a rel="nofollow" href="#"><i class="fa fa-facebook"></i></a>
                    </button>

                    <button type="button" class="btn btn-light btn-floating mx-2">
                        @*<i class="fab fa-twitter"></i>*@
                        <a rel="nofollow" href="#"><i class="fa fa-twitter"></i></a>
                    </button>

                    <button type="button" class="btn btn-light btn-floating mx-2">
                        @*<i class="fab fa-linkedin-in"></i>*@
                        <a rel="nofollow" href="#"><i class="fa fa-linkedin"></i></a>
                    </button>

                 </div>

                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating form-outline mb-4">
                    <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating form-outline mb-3">
                    <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox d-flex justify-content-between align-items-center offset-1">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    @*<p>
                        <a id="forgot-password" class="text-body" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>*@
                    <p>
                    <a asp-area="Identity" asp-page="/Account/InstractorRegister" class="text-primary">Register as Instructor</a>
                    </p>
                    <p>
                    <a asp-area="Identity" asp-page="/Account/StudentRegister" class="text-primary"> Register as Student</a>
                    </p>
                    @*<p>
                        <a id="resend-confirmation" class="text-body" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>

            @*</div>*@

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
