@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext dbContext
@{
    var fullname = "";
    if (SignInManager.IsSignedIn(User))
    {
        var user = (UserManager.GetUserAsync(User)).Result;
        await dbContext.Entry(user).Reference(u => u.Student).LoadAsync();
        await dbContext.Entry(user).Reference(u => u.Instructor).LoadAsync();

         fullname = user.Instructor?.Name ?? user.Student?.Name;
    }
}
    @if (SignInManager.IsSignedIn(User))
    { 

            <a class="scroll-to-section ml-5 nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @fullname</a>
                     
               <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button  type="submit" class="nav-link btn btn-link font-weight-bold text-dark" >Logout</button>
               </form>

    }
    else
    {
        <li class="scroll-to-section" style="list-style-type:none">
            <a class="dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarLightDropdownMenuLink" style="background-color:#2BCAA5">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/InstractorRegister">Instructor</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/StudentRegister">Student</a></li>
            </ul>
    </li>
    <li class="scroll-to-section" style="list-style-type:none">
        <a  asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }
