@model Attendance_System___ITI.Models.Lecture

@{
    ViewData["Title"] = "Create Schedule";
}

<style>
    body{color: #000;
        overflow-x: hidden;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%}
    .card{padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}
    .blue-text{color: #00BCD4}
    .form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #00BCD4;
        outline-width: 0;
        font-weight: 400}
    .btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0}
</style>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h5 class="text-center mb-4">Create new Schedule</h5>
                <form asp-action="Create" class="form-card">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row justify-content-between text-left">
                        <label asp-for="Name" class="form-control-label px-3"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row justify-content-between text-left">
                        <label asp-for="Date" class="form-control-label px-3"></label>
                        <input type="date" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group row justify-content-between text-left">
                        <label asp-for="StartTime" class="form-control-label px-3"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group row justify-content-between text-left">
                        <label asp-for="EndTime" class="form-control-label px-3"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group row justify-content-between text-left">
                        <label class="control-label"> Department </label>
                        <select asp-for="DeptID" class="form-control" asp-items="ViewBag.DeptID"></select>
                        <span asp-validation-for="DeptID" class="text-danger"></span>
                    </div>
                    <div class="form-group row justify-content-between text-left">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        <a asp-action="List" class="btn btn-info">List of lecturs</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
