@page
@model PrivacyModel
@{
    ViewData["Title"] = "Team:";
}

<section class="vh-200 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <br /><br />
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <section class="card" style="border-radius: 15px;">
                        <section class="card-body p-5">
                            <h1 class="justify-content-center align-items-center">@ViewData["Title"]</h1>
                            <br />
                            <ul style="font-size:1rem">
                                <li>Ibrahim Mohamed Ibrahim</li>
                                <li>Mohamed Khaled Mohamed</li>
                                <li>Mohamed Osama Mohamed</li>
                                <li>Nada Nabil Abdulhamed</li>
                                <li>Nourhan Hesham Gaafar</li>
                                <li>Yara Ahmed Abdelhamid</li>
                            </ul>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</section>
