@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <img src="https://365psd.com/images/previews/36a/error-404-54413.png" />
</div>