@page
@model Attendance_System___ITI.Pages.ForbiddenModel
@{
    ViewData["Title"] = "Forbidden";
}

<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <img src="https://dinahosting.com/blog/cont/uploads/2020/07/Mesa-de-trabajo-1.png" />
</div>
