@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="~/assets/images/slide-03.jpeg" alt="">
                <div class="text-content">
                  <h3>Welcome,</h3>
                  <h5>It’s not about better time management,<br /> It’s about better life management.</h5>
                  <a asp-page="/About" class="main-stroked-button">Learn More</a>
                  <a asp-area="Identity" asp-page="/Account/Login" class="main-filled-button">Get It Now</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="~/assets/images/slide-02.jpeg" alt="">
                <div class="text-content">
                  <h3>Welcome,</h3>
                  <h5>It’s not about better time management,<br /> It’s about better life management.</h5>
                  <a asp-page="/About" class="main-stroked-button">Learn More</a>
                  <a asp-area="Identity" asp-page="/Account/Login" class="main-filled-button">Get It Now</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="~/assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome,</h3>
                  <h5>It’s not about better time management,<br /> It’s about better life management.</h5>
                  <a asp-page="/About" class="main-stroked-button">Learn More</a>
                  <a asp-area="Identity" asp-page="/Account/Login" class="main-filled-button">Get It Now</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <h2 class="d-flex justify-content-center " style="color:#2BCAA5">ANNOUNCEMENTS</h2>
            </div>
            <br />
            <hr />
            <br />
            <div class="row">
                @foreach (var item in ViewBag.Anno)
                {
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                     <div class="features-item">
                        <div class="features-icon">
                            <img src="./images/news.png" alt="">
                        </div>
                            <div class="features-content">
                            <h4>@item.Descreption</h4>
                            <p>@item.Date</p>
                             <a asp-area="Identity" asp-page="/Account/Login" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                            </div>

                    </div>
                </div>
                }


              @*<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="./images/news.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Master Planning</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>*@
                @*<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="./images/news.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Smooth Execution</h4>
                            <p>Proin euismod sem ut diam ultricies, ut faucibus velit ultricies. Nam eu turpis quam. Duis ac condimentum eros.</p>
                            <a href="#" class="text-button-icon">
                                Learn More <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>

</body>
</html>