@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="~/assets/images/slide-03.jpeg" alt="">
                <div class="text-content">
                  <h3>Welcome,</h3>
                  <h5>No Pain, No Gain.</h5>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="~/assets/images/slide-02.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome,</h3>
                  <h5>No Pain, No Gain.</h5>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="~/assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome,</h3>
                  <h5>No Pain, No Gain.</h5>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

</body>
</html>