@page
@model Attendance_System___ITI.Pages.UnauthorizedModel
@{
    ViewData["Title"] = "Unauthrized";
}

<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2019/12/401-error-wordpress-featured-image.jpg" />
</div>
